/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.contact-list {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.contact {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.contact h2 {
  margin-top: 0;
}

.contact-form {
  margin-top: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
.button-group button {
  margin-right: 10px; /* Adjust the spacing as needed */
}
